*{
    padding:0;
    margin:0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img{
    width:20%;
    height:20%;
}
form{
    background-color:#524d4df2;
    border-style:solid;
   border-color: red;
    border-radius:10px;
    margin: 5% auto;
    display:flex;
    text-align:center;
    width:60%;
    height:100%;
    justify-content:space-around;
    flex-wrap: wrap;
    color:white;
}
input{
    display:block;
    padding: 10px 60px 5px 60px;
    flex-wrap: wrap;
    text-align:center;
    background-color:#00000082;
    border-style: none;
    color:#ffffff;
    border-radius:2px;
}
label{
    margin-top:5%;
    margin-bottom:5%;
}
.botao{
    margin-top:20px;
    padding:10px;
    margin-bottom:2%;
    background-color:#15b54a;
    border-style:none;
    border-radius:3px;
    color:white;
}
h1{
    text-align:center;
}
@media screen and (max-width:768px){
    input{
        padding:10px 10px 5px 10px;
    }
}