
html,body{
    height:100%;
    width:100%;
    overflow:hidden;
}
body{
    /* background-image: url("../img/bg3.jpg"); */

}
*{
    font-family: 'Open Sans', sans-serif;
}
.container{
    background-color:#524d4df2;
    border-style:solid;
    border-radius:10px;
    margin: 10% auto;
    display:flex;
    text-align:center;
    width:60%;
    height:50%;
    justify-content:space-around;
    flex-wrap: wrap;
    color:white;
}
input{
    display:block;
    padding: 10px 100px 10px 100px;
    flex-wrap: wrap;
    text-align:center;
    background-color:#00000082;
    border-style: none;
    color:#ffffff;
    border-radius:2px;
    margin:2%;
}
p{
    font-size:40px;
}
.check{
    padding:10px 40px;
    margin-top:10%;
    margin-bottom:10%;
    background-color:#04ff04;
    border-style:none;
    border-radius:5px;
    color:black;
}
@media screen and (max-width:768px){
    input{
        padding: 5% 20%;
    }
    .container{
        width:85%;
        margin-top: 45%;
        height:70%
    }
    p{
        font-size:30px;
    }
    .check{
        20px 80px;
        margin: 20%;
    }

}