body, html{
    height: 100%;
    width:100%;
    padding:0;
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-image: url(../img/12.jpg);
    background-attachment: fixed;
    background-size: cover;
} 
header{
    display: inline-block;
    width:100%;
    background: linear-gradient(rgba(99, 98, 98, 0.151), rgba(233, 230, 230, 0.151));
    border-bottom-style: double;
    border-width: medium;
    border-color: #de9e48;
}
header p, h1, header i{
    display:inline-block;
    padding:1% 12% 1% 12%;
    text-align:center;
    color:rgb(202, 202, 202);
    font-size: 20px;
}
main{
    display:grid;
    grid-template-rows: 80% 80% 80%;

}
.alg, .mat, .port{
     display:grid;
    grid-template-columns: 50% 50%; 
    text-align:center;
    background: rgba(65, 64, 64, 0.726);
}
.alg h1, .mat h1, .port h1{
    font-size: 40px;
    margin:  auto;
    color:rgb(202, 202, 202);
 }
 main p{
     margin:auto;
     width:30%;
     color:rgb(202, 202, 202);
 }
.alg, .port, .mat{
    border-bottom-style: solid;
    border-color:#de9e48;
    border-width: thin;
}
 .submit{
    width:10px;
    height: 10px;
 }
 a{
    text-decoration: none;
    color:white;
    padding:5%;
    top:13%;
    right:10%;
    position: relative;
    border-style: solid;
    border-color:#de9e48;
    border-width: thin;
    transition:all  .3s ease;
 }
 a:hover{
    background-color:#de9e48;
 }


 