
body, html{
    height: 100%;
    width:100%;
    padding:0;
    margin:0;
    overflow: hidden;
}
body{
    background-image: url(../img/backG.png);
    background-attachment: fixed;
    background-size: cover;
} 
header{
    width: 100%;
    height: 20%;
    font-weight: bold;
    color:white;
    font-family: 'Nunito', sans-serif;
}
header p{
    font-size: 200%;
    text-align:center;
    width: 30%;
}
header li{
    display: inline-block;
    margin-right: 30%;
}
header a{
    color:rgb(24, 112, 212)
}
a{
    text-decoration: none;
}
header ul{
    position: absolute;
    width: 40%;
    margin:auto;
    right: 0%;
    top:8%;
    font-size: 150%;
}
.materias{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    height: 60%;
    margin-top:2%;  
}
.portugues, .matematica, .algoritmo{
    border: thin solid black;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.534);
    border-radius: 5px;
    margin-left:20%;
    margin-top:10%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    margin-left:20%;
    font-size:50px;
    height: 4%;
    font-family: 'Merriweather Sans', sans-serif;
}

