*{
    padding:0;
    margin:0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-image: url("../img/login-background.jpg");
    background-size: cover;
}
.img{
    position:absolute;
top:20%;
left:50%;
transform: translate(-50%, -50%);
}
.form{
position:absolute;
top:60%;
left:50%;
transform: translate(-50%, -50%);
width: 22%;
height: 60%;
background: rgba(65, 64, 64, 0.726);
border-style: none;
border-radius: 3px;
box-shadow: 1px 2px rgba(44, 44, 44, 0.459);
font-style: bold;
}

.input{
    position:relative;
    border:0 none;
    margin-left: 3%;
    border-bottom: 3px solid #B82601;
    border-radius: 3px;
    width: 90%;
    padding:2% 2%5% 2%;
    margin-bottom:10px;
    background-color: transparent;
    margin-top:30px;
    font-family: "FontAwesome", Open Sans, Arial;
    font-size: 17px;
    color: rgb(172, 169, 169);
}
.botao{
    margin-top: 40px;
   margin-left:30%;
   padding:5% 13% 5% 13%;
   background: rgb(160, 159, 159);
   border-style: none;
   border-radius: 2px;
   cursor:pointer;
   color:rgb(114, 110, 110);
   font-weight:200;
   margin-bottom: 30px;
   transition: all ease-out 0.3s;
}
.form p{
    padding-bottom: 5%;
    padding-left: 5%;
    text-decoration: none;
    color: rgb(133, 129, 129);
}
.form p a{
    text-decoration: none;
    color: rgb(184, 180, 180);
    font-weight: bold;
}
.form p a:hover{
    text-decoration: underline;
}
.nomeL{
    border-bottom: 3px solid rgb(1, 184, 1);
    transition: all ease-out 0.3s;
}
.botao2{
    margin-top: 40px;
   margin-left:30%;
   padding:5% 13% 5% 13%;
   background: rgb(1, 184, 1);
   border-style: none;
   border-radius: 2px;
   cursor:pointer;
   color:white;
   font-weight:bold;
   margin-bottom: 30px;
   transition: all ease-out 0.3s;
}
