
body, html{
    height: 100%;
    width:100%;
    padding:0;
    margin:0;
}
body{
     background-image: url(../img/backG.png);
    background-attachment: fixed;
    background-size: 100% 100%;
} 
header{
    width: 100%;
    height: 20%;
    /* font-weight: bold; */
    color:white;
    /* font-family: 'Nunito', sans-serif; */
}
header p{
    font-size: 2em;
    display: inline;
}
.opcao{
    padding-left: 25%;
}
#nome{
    padding-left:10%;
}
header a{
    color:rgb(24, 112, 212)
}
a{
    text-decoration: none;
}
h1{
    margin-left:15%;
    margin-top:12%;
    height: 4%;
    font-family: 'Merriweather Sans', sans-serif;
    width: 30%;
}
img{
    height: 50%;
    width: 100%;
}
.n-logado{
	color:red;
}
.opcao-deslogado{
	color:black;
	witdh:100%;
	text-align:center;
}
.card-deck{
    width: 70%;
    padding-left: 1%;
    height: 40%;
}
.card{
    border: thin solid black;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.534);
    border-radius: 5px;
    margin-left:2%;
    margin-top:10%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.botao a{

    padding:2%;
    border-radius: 2px;
}
@media screen and (max-width: 768px) {
    header p{
       display: block;
    }
    .opcao, #nome{
        padding:0;
        font-size: 1.5em;
        }
   body{
    background-image: url(../img/iphone.jpg);
    background-attachment:initial;
    background-size: 160%;
} 
.card-deck{
    width: 70%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
}
h1{
    width: auto;
    height: 15%;
    padding-top: 17%;
}
.chatbot{
    position:absolute;
    top:200%;
    margin: 0 auto;
    right: 40%;
    margin-top: 10%;
    bottom: 0;
}
}
@media(min-height: 812px){
.chatbot{
    margin-top: 0;
    position:absolute;
    top:198%;
}
}
